.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.google{
  height: 875px;
}

.hero img{
  border-radius: 0;
}

.bubble {
  text-align: center;
  float: inherit;
}
.unicorn {
  float: none;
  margin: auto;
  text-align: center;
}
.contact{
  text-align: center;
}